flows.json
[{"id":"ab2e387d.a00548","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e253f2d7.0977f","type":"debug","z":"ab2e387d.a00548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":100,"wires":[]},{"id":"915737ec.3566e8","type":"ibmiot in","z":"ab2e387d.a00548","authentication":"apiKey","apiKey":"ec353738.5e0698","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"0000","applicationId":"","deviceType":"iotdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":20,"wires":[["e253f2d7.0977f","f5592ec8.2ec75","dbeb4d38.f1ad9","dbdbe433.5ed618","aaf79d40.e0078","b55d98f8.3b5468","95eaf306.4b665","82a01073.30f33"]]},{"id":"f5592ec8.2ec75","type":"function","z":"ab2e387d.a00548","name":"product","func":"msg.payload=msg.payload.prod_name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":120,"wires":[["e253f2d7.0977f","fc4542a9.d4751"]]},{"id":"fc4542a9.d4751","type":"ui_text","z":"ab2e387d.a00548","group":"794712cd.be51bc","order":2,"width":"15","height":"3","name":"","label":"PRODUCT NAME","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":180,"wires":[]},{"id":"dbeb4d38.f1ad9","type":"function","z":"ab2e387d.a00548","name":"product_id","func":"msg.payload=msg.payload.pro_id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":160,"wires":[["e253f2d7.0977f","4aaa6bc3.433aa4"]]},{"id":"dbdbe433.5ed618","type":"function","z":"ab2e387d.a00548","name":"expiry_date","func":"msg.payload=msg.payload.expiry_date[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":110,"y":280,"wires":[["e253f2d7.0977f","99d8fa5c.50a3e8"]]},{"id":"4aaa6bc3.433aa4","type":"ui_text","z":"ab2e387d.a00548","group":"794712cd.be51bc","order":1,"width":"15","height":"3","name":"","label":"PRODUCT ID","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":280,"wires":[]},{"id":"b55d98f8.3b5468","type":"function","z":"ab2e387d.a00548","name":"expiry_date","func":"msg.payload=msg.payload.expiry_date[2]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":110,"y":380,"wires":[["255ee342.aed64c"]]},{"id":"aaf79d40.e0078","type":"function","z":"ab2e387d.a00548","name":"expiry_date","func":"msg.payload=msg.payload.expiry_date[1]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":110,"y":320,"wires":[["93633514.0c1288"]]},{"id":"95eaf306.4b665","type":"function","z":"ab2e387d.a00548","name":"expiry_date","func":"msg.payload=msg.payload.expiry_date[3]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":110,"y":420,"wires":[["2df9eae5.3dbe16"]]},{"id":"99d8fa5c.50a3e8","type":"function","z":"ab2e387d.a00548","name":"pasta","func":"const x = new Date(msg.payload);\nconst y = new Date('10-04-2021');\nif(x>y)\n{\n    msg.payload=\"PASTA WAS NOT EXPIRED\"\n}\nelse\n{\n    msg.payload=\"PASTA GOT EXPIRED\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":420,"wires":[["e253f2d7.0977f","66978c62.b46d54"]]},{"id":"93633514.0c1288","type":"function","z":"ab2e387d.a00548","name":"bread","func":"const x = new Date(msg.payload);\nconst y = new Date('10-04-2021');\nif(x>y)\n{\n    msg.payload=\"BREAD WAS NOT EXPIRED\"\n}\nelse\n{\n    msg.payload=\"BREAD GOT EXPIRED\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":460,"wires":[["e253f2d7.0977f","6c761004.7b74b"]]},{"id":"255ee342.aed64c","type":"function","z":"ab2e387d.a00548","name":"butter","func":"const x = new Date(msg.payload);\nconst y = new Date('10-04-2021');\nif(x>y)\n{\n    msg.payload=\"BUTTER WAS NOT EXPIRED\"\n}\nelse\n{\n    msg.payload=\"BUTTER GOT EXPIRED\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":520,"wires":[["e253f2d7.0977f","4373ee93.e17b4"]]},{"id":"2df9eae5.3dbe16","type":"function","z":"ab2e387d.a00548","name":"panner","func":"const x = new Date(msg.payload);\nconst y = new Date('10-04-2021');\nif(x>y)\n{\n    msg.payload=\"PANNER WAS NOT EXPIRED\"\n}\nelse\n{\n    msg.payload=\"PANNER GOT EXPIRED\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":580,"wires":[["e253f2d7.0977f","676d5691.6a11c8"]]},{"id":"ce8aed82.69196","type":"ui_text","z":"ab2e387d.a00548","group":"794712cd.be51bc","order":2,"width":"15","height":"3","name":"","label":"EXPIRY DATES","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":340,"wires":[]},{"id":"82a01073.30f33","type":"function","z":"ab2e387d.a00548","name":"expiry_date","func":"msg.payload=msg.payload.expiry_date\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":280,"wires":[["ce8aed82.69196","e253f2d7.0977f"]]},{"id":"66978c62.b46d54","type":"http request","z":"ab2e387d.a00548","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=RkWgFwqHrSotM5esh0POjLTz3YV1x28flE96QybucBpJUG4AnZBqPJZKRSFlVm4vbU7okQYi0&message=PASTA GOT EXPIRED CHECK FOR QUANTITY&language=english&route=q&numbers=9676500099","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":460,"wires":[["9d512724.b02f38"]]},{"id":"6c761004.7b74b","type":"http request","z":"ab2e387d.a00548","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=RkWgFwqHrSotM5esh0POjLTz3YV1x28flE96QybucBpJUG4AnZBqPJZKRSFlVm4vbU7okQYi0&message=BREAD GOT EXPIRED CHECK FOR QUANTITY&language=english&route=q&numbers=9676500099","tls":"","persist":false,"proxy":"","authType":"","x":720,"y":520,"wires":[["9d512724.b02f38"]]},{"id":"4373ee93.e17b4","type":"http request","z":"ab2e387d.a00548","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=RkWgFwqHrSotM5esh0POjLTz3YV1x28flE96QybucBpJUG4AnZBqPJZKRSFlVm4vbU7okQYi0&message=BUTTER WAS NOT EXPIRED CHECK FOR QUANTITY AND REFILL!!&language=english&route=q&numbers=9676500099","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":580,"wires":[["9d512724.b02f38"]]},{"id":"676d5691.6a11c8","type":"http request","z":"ab2e387d.a00548","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=RkWgFwqHrSotM5esh0POjLTz3YV1x28flE96QybucBpJUG4AnZBqPJZKRSFlVm4vbU7okQYi0&message=PANNER WAS NOT EXPIRED CHECK FOR QUANTITY AND REFILL!!&language=english&route=q&numbers=9676500099","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":640,"wires":[["9d512724.b02f38"]]},{"id":"9d512724.b02f38","type":"debug","z":"ab2e387d.a00548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":340,"wires":[]},{"id":"ec353738.5e0698","type":"ibmiot","name":"iotdevice","keepalive":"60","serverName":"1tzgh7.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"794712cd.be51bc","type":"ui_group","name":"","tab":"911f045c.4e8328","order":1,"disp":true,"width":"15","collapse":false},{"id":"911f045c.4e8328","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]